/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu styling */
.menu {
  text-align: center;
  margin-top: 20px;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
  margin: 10px;
}

.menu ul li a {
  text-decoration: none;
  background-color: pink;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(19, 16, 16);
}

.menu ul li a img {
  display: block;
  width: 80px; /* Adjust the image size as needed */
  height: 80px;
  border-radius: 50%; /* Makes the image round */
  margin-bottom: 8px;
  margin-right: 8px;
}

/* Section styling */
.section {
  padding: 40px;
  text-align: center;
}

.section h1 {
  font-size: 2em;
  font-family: 'Georgia', serif; /* Georgia */
  margin-bottom: 20px;
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
      .background-clip{
          width: 100%;
          height: auto;
      }
}

@media (max-aspect-ratio: 16/9){
      .background-clip{
          width: auto;
          height: 100%;
      }
}

.section {
  font-family: 'Helvetica', sans-serif; /* Helvetica */
  color: rgb(248, 242, 242); /* Text color */
  text-align: center; /* Center-align text */
}

.classy-text {
  margin: 50px;
}

h1 {
  font-size: 3em; /* Adjust font size */
  font-weight: 600; /* Boldness */
  margin-bottom: 20px; /* Spacing */
}

p {
  font-size: 1.5em; /* Adjust font size */
  font-style: italic; /*Italic*/
  line-height: 1.5; /* Line height */
}

